:host {
  &.View {
    width:100%;
    height:100%;
    padding: var(--spacing4);
    background: var(--white);
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(53,72,91,.07),0 2px 2px rgba(0,0,0,.01),0 4px 4px rgba(0,0,0,.02),0 10px 8px rgba(0,0,0,.03),0 15px 15px rgba(0,0,0,.03),0 30px 30px rgba(0,0,0,.04),0 70px 65px rgba(0,0,0,.05);      
    display: block;
  }
  .Main {
    &Pod{
     

    }
  }
  .Pod{
    &0{}
  }
}