<ng-container [formGroup]="meta.wmlField.field.parentForm">
  <input class=MainPodInput0 *ngIf="meta.type==='input'"[formControlName]="meta.wmlField.field.formControlName" (input)="triggerChange($event)"/>
  <textarea class=MainPodInput1 *ngIf="meta.type==='textarea' "[formControlName]="meta.wmlField.field.formControlName" (input)="triggerChange($event)"></textarea>
  <input type="range" *ngIf="meta.type==='range' "[formControlName]="meta.wmlField.field.formControlName" (input)="triggerChange($event)" min="0" max="10">
</ng-container>