<div [class]="classPrefix('MainPod')">
  <wml-notify></wml-notify>
  <app-nav [class]="classPrefix('Pod0')"></app-nav>
  <section [class]="classPrefix('Pod1')">
    <main tabindex="-1" id="main" [class]="classPrefix('Pod1Item0')">
      <router-outlet></router-outlet>
      
    </main>
  </section>
  <section *ngIf="baseService.toggleOverlayLoadingSubj | async" [class]="classPrefix('Pod2')">
    <app-penrose  ></app-penrose>
  </section>
  <div   [class]="classPrefix('Pod3')" [niblsIsPresent]="spotifyPlaylistsParams.isPresentSubj | async">
    <app-spotify-playlists  [myParams]="spotifyPlaylistsParams" [class]="classPrefix('Pod3Item0')"></app-spotify-playlists>
  </div>
  <app-mobile-nav *ngIf="baseService.toggleMobileNavSubj | async" [params]="mobileNavParams"></app-mobile-nav>
</div>
