@import "src/assets/styles/global.scss";

:host {



  
  &.LandingMainView{
    .LandingMain{
      &Main{
        &Pod{
          display: flex;
          flex-direction: column;
          align-items: center;


        } 
      }

      &Pod{
        &0{
          display: none;
          width :100%;
          min-height:calc(350/16 * 1rem);
          max-width: calc(2400/16 * 1rem);
          // display: flex;
          &Item {

            @for $i from  0 through 1  {
              &#{$i} {
                flex: 0 0 50%;
                display: flex;
                flex-direction: column;
                padding:var(--spacing5);  
              }
            }
            &0{
            }
            &1{

          
            }
            &2{
              background-color:$bs-light;
              color:$bs-dark;
              display: flex;
              flex-direction: column;
              align-items: center;
              *{
                margin:var(--spacing5) 0;
              }                   
            }

          }
          &Btn{
            &0{
              @include GlobalButton0;
              font-size: $fontSize2;
            }
          }

        }
        &1{
          display: none;
          color: $bs-dark;
          flex-direction: column;
          align-items: center;
          padding:0 $spacing6 $spacing10 $spacing6;
          &Item {
            &0 {
              border: calc(1/32 * 1rem) solid $bs-secondary;
              padding: $spacing2 $spacing5;
              display: inline-block;
              h2{
                width: 100%;
              }          
            }
          }
          &Title {
            &0 {
              font-size: calc(100/16 * 1rem);
            }
            &1 {
              font-size: calc(30/16 * 1rem);
            }
          }

        }
        &2{
          width :100%;
          min-height:calc(350/16 * 1rem);
          max-width: calc(2400/16 * 1rem);
          padding:$spacing7;
          &Item{
            &0{
              background-color: $bs-light;
            }
          }
        }
      }


    }
  }

}