<div [class]="classPrefix('MainPod')">


  <section [class]="classPrefix('Pod0')">


    <div [class]="classPrefix('Pod0Item1')">
      <wml-card [class]="classPrefix('Pod0Item2')">
        <h2>Step 1 (Optional)</h2>
        <h2>
          <a [href]="createNearWalletLink">
            Create a Near Wallet Here
          </a>
        </h2>
        <qr-code [value]="createNearWalletLink" size="300" errorCorrectionLevel="M"></qr-code>
      </wml-card>
    </div>
    <div [class]="classPrefix('Pod0Item0')">
      <wml-card [class]="classPrefix('Pod0Item2')">
        <h2>Step 2</h2>
        <h2>Connect Your Near Wallet</h2>
        <button (click)="connectWalletBtn.click($event)" [class]="classPrefix('Pod0Btn0')">{{ connectWalletBtn.value | translate}}</button>
      </wml-card>
    </div>
  </section>
  <section [class]="classPrefix('Pod1')">
    <div [class]="classPrefix('Pod1Item0')">
      <h2>POV CHECK IN</h2>
    </div>
    <h2 [class]="classPrefix('Pod1Title0')">QR</h2>
    <div (click)="connectWalletBtn.click($event)" [class]="classPrefix('Pod1Item0')">
      <h2>CONNECT TO NEAR WALLET</h2>
    </div>
    <qr-code [value]="createNearWalletLink" size="300" errorCorrectionLevel="M"></qr-code>
    <h2 [class]="classPrefix('Pod1Title1')">GOOD VIBES ON CHAIN</h2>
  </section>
  <section [class]="classPrefix('Pod2')">
    <wml-card [class]="classPrefix('Pod2Item0')">
      <h2>
        <a href="https://sonar.satori.art/d1WXEc02EC8Ls2Ghh92Hl">Step 1. Retrieve your NFT from Satori here</a>
      </h2>
    </wml-card>
  </section>

</div>